# gitattributes for LaTeX & Documents

*.tex	diff=tex
* text=auto
*.pdf  diff=astextplain
*.PDF  diff=astextplain

# github export configuration
.gitattributes export-ignore
.gitignore export-ignore

